


html{
  background: url("../img/rock_paper_scissors_by_smashmethod.jpg") no-repeat fixed center center / cover;
  margin: 0;
  padding: 0;
}



@media (min-width: 768px) {


@media (min-width: 992px) {
  }
