


html{
  background: url("../img/rock_paper_scissors_by_smashmethod.jpg") no-repeat fixed center center / cover;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 140%;
  text-align: center;
  color: yellow;
}

p {
  display: none;
  /*color: white;
  font-family: 'Satisfy', cursive;*/
}

@media (min-width: 768px) {

p{
  display: block;
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 160%;
}

@media (min-width: 992px) {
  }
