
<<<<<<< HEAD
@font-face {
  font-family: "dbz";
	 src: url(../font/Saiyan-Sans.ttf);
}

#titre {
	font-family: "dbz";
  font-size: 60px;
}

#titre2 {
	font-family: "dbz";
  font-size: 60px;
  color: yellow;
}





html{
  background: url("../img/XbmNalC.jpg") no-repeat fixed center center / cover;
=======


html{
  background: url("../img/Peas.jpg") no-repeat fixed center center / cover;
>>>>>>> acead23851a61ad255c11077758fb997330e7316
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 140%;
  text-align: center;
<<<<<<< HEAD
  color: red;
}

#regle {
=======
  color: white;
  text-decoration: overline;
}

p {
>>>>>>> acead23851a61ad255c11077758fb997330e7316
  display: none;
  /*color: white;
  font-family: 'Satisfy', cursive;*/
}
<<<<<<< HEAD
#p{
  display: block;
  color: black;
  font-family: "dbz";
}
=======

>>>>>>> acead23851a61ad255c11077758fb997330e7316
button {
    background-color: yellow;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid yellow;
}

button:hover {
    background-color: yellow;;
    color: black;
}


  img {
<<<<<<< HEAD
    width: 50%;
  }
.perso img {
  width: 50%;
}
  /*figure {
    width: 12%;
  }*/
=======
    width: 70%;
  }

  figure {
    width: 100%;
  }
>>>>>>> acead23851a61ad255c11077758fb997330e7316

div figure {
display: flex;
display: inline-block;
margin: 0;
justify-content: space-between;;
}

<<<<<<< HEAD
.pierre:hover{
  border: solid 11px yellow;
  margin: -2px;
}


.papier:hover{
  border: solid 11px yellow;
  margin: -2px;
}

.ciseaux:hover{
  border: solid 11px yellow;
  margin: -2px;
}
/*.perso img {
  width: 170%;
}*/

main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.first{
  display: flex;
  flex-direction: column;
}
.row image {
  width: 100%;
}

.row {
  width: 60%;
}

/*.goku:hover{
  background: url("../img/5934fdaa8e0f7833128f0e8dc704bc1f.png");
}*/
=======
>>>>>>> acead23851a61ad255c11077758fb997330e7316
@media (min-width: 768px) {
  div {
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
    margin-left: 5%;
    width: 30%;
  }

  main {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .first{
    display: flex;
    flex-direction: column;
  }
  .row image {
    width: 100%;
  }

  .row {
    width: 60%;
  }

  /*figure {
    width: 100%;
  }*/

/*article {
  display: flex;
  justify-content: space-between;
}*/

.goku {
  width: 150%;
}

#regle, p{
  display: block;
  color: black;
  font-family: "dbz";
=======
    margin-left: 10%;
  }


  img {
    width: 53%;
  }

  figure {
    width: 100%;
  }



p{
  display: block;
  color: white;
  font-family: 'Satisfy', cursive;
>>>>>>> acead23851a61ad255c11077758fb997330e7316
  font-size: 160%;
}

@media (min-width: 992px) {
  }
